.switcher-btn {
  width: 120px;
  height: 30px;
  right: 0;
  position: absolute;
  margin-right: 30px;
  background-color: #2f94e0;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: #fff;

  &:focus,
  &:active {
    background-color: #6ca9d7;
  }

  &:hover {
    background-color: #0084e8;
  }
}
