@import "fonts.css";

.container {
  margin: 0 auto;
  max-width: 500px;

  h1 {
    text-align: center;
    color: grey;
  }
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.header {
  width: 100%;
  height: 100px;
  background-color: grey;
  text-align: center;
  overflow: hidden;
}
.controller {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: lightgray;
  min-height: 500px;
  overflow: hidden auto;

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #deeeea;
    width: 700px;
    border-radius: 5px;
  }

  &__btn-group {
    margin-left: auto;
    &-item {
      width: 70px;
      height: 40px;
      border-radius: 10px;
      border: 0;
      margin-left: 10px;
      cursor: pointer;
      color: #fff;

      &--delete {
        background-color: #bf1363;
      }

      &--edit {
        background-color: #39a6a3;
      }
    }
  }
}
